In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split          # to split the data into train and test
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier
import xgboost as xgb
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
#loading csv data to pandas dataframe
heart_data = pd.read_csv("/content/heart.csv")

In [ ]:
  #print first five rows
  heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [ ]:
#print last five rows
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [ ]:
#number of rows and columns
heart_data.shape

(1025, 14)

In [ ]:
#more information of the dataset
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [ ]:
#checking for missing values
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
#statistical measures about the data
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [ ]:
#checking the distribution of the target variable
heart_data['target'].value_counts()

1    526
0    499
Name: target, dtype: int64

In [ ]:
X = heart_data.drop(columns='target',axis=1)
Y = heart_data['target']

In [ ]:
print(X)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal
0         2   2     3
1         0   0     3
2         0   0     3
3         2   1     3
4         1   3     2
...     ...  ..   ...
1020      2   0     2
1021      1   1     3
1022      1   1     2
1023      2   0     2
1024      1   1     3

[1025 rows x 13 columns]

In [ ]:
print(Y)

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

In [ ]:
# spliting data into training and testing data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.4, stratify=Y, random_state=2)

In [ ]:
print(Y.shape, Y_train.shape, Y_test.shape)

(1025,) (615,) (410,)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(1025, 13) (615, 13) (410, 13)

In [ ]:
############################################################################

Training the machine learning Model

Logistic Regression

In [ ]:
model=LogisticRegression()

In [ ]:
#training the LR model with training data
model.fit(X_train, Y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy Score

In [ ]:
 #accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy on training data: ', training_data_accuracy)

Accuracy on training data:  0.8617886178861789

In [ ]:
#accuracy on testing data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

calculating precision and recall for LR

In [ ]:
precision = precision_score(Y_test, X_test_prediction)
recall = recall_score(Y_test, X_test_prediction)
f1score = f1_score(Y_test, X_test_prediction)

In [ ]:
print('Accuracy on Test data of LR :',test_data_accuracy)
print('precision on Test data of LR:', precision)
print('recall on Test data of LR:', recall)
print('f1 score on Test data of LR:',f1score)

Accuracy on Test data of LR : 0.8170731707317073
precision on Test data of LR: 0.7922077922077922
recall on Test data of LR: 0.8714285714285714
f1 score on Test data of LR: 0.8299319727891157

Confusion metrix for LR

In [ ]:
from sklearn.metrics import matthews_corrcoef
print(matthews_corrcoef(Y_test, X_test_prediction))

0.6363797755320904

In [ ]:
##########################################################################

SVM Algorithm Implementation and Accuracy calculation

In [ ]:
sv = svm.SVC(kernel='linear')
sv.fit(X_train, Y_train)
Y_pred_svm = sv.predict(X_test)
X_pred_svm = sv.predict(X_train)
v_accuracy = accuracy_score(X_train_prediction, Y_train)
s_accuracy = accuracy_score(Y_pred_svm, Y_test)

In [ ]:
print('Accuracy of train data of SVM:',v_accuracy)
print('Accuracy of test data of svm:', s_accuracy)

Accuracy of train data of SVM: 0.8617886178861789
Accuracy of test data of svm: 0.8317073170731707

calculating precision,recall and f1 score for SVM

In [ ]:
s_precision = precision_score(Y_test, Y_pred_svm)
s_recall = recall_score(Y_test, Y_pred_svm)
s_f1score = f1_score(Y_test, Y_pred_svm)
print('precision on test data for SVM is:',s_precision)
print('recall on test data is for SVM is:',s_recall)
print('f1 score on test data is for SVM is:',s_f1score)

precision on test data for SVM is: 0.8025751072961373
recall on test data is for SVM is: 0.8904761904761904
f1 score on test data is for SVM is: 0.8442437923250564

In [ ]:
from sklearn.metrics import matthews_corrcoef
print(matthews_corrcoef(Y_test, Y_pred_svm))

0.666526188319017

In [ ]:
#############################################################################

KNN Algorithm implementation and accuracy calculation

In [ ]:
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train,Y_train)
Y_pred_knn=knn.predict(X_test)
X_pred_knn = knn.predict(X_train)
n_accuracy = accuracy_score(X_train_prediction, Y_train)
k_accuracy = accuracy_score(Y_pred_knn, Y_test)

In [ ]:
print('The accuracy on train data for KNN is:',n_accuracy )
print('The accuracy on test data for KNN is:',k_accuracy )

The accuracy on train data for KNN is: 0.8617886178861789
The accuracy on test data for KNN is: 0.6878048780487804

Precision,recall and f1 score calculation for KNN

In [ ]:
k_precision = precision_score(Y_test, Y_pred_knn)
k_recall = recall_score(Y_test, Y_pred_knn)
k_f1score = f1_score(Y_test, Y_pred_knn)
print('precision on test data for KNN is:',k_precision)
print('recall on test data for KNN is:',k_recall)
print('f1 score on test data for KNN is:',k_f1score)

precision on test data for KNN is: 0.6915887850467289
recall on test data for KNN is: 0.7047619047619048
f1 score on test data for KNN is: 0.6981132075471698

In [ ]:
from sklearn.metrics import matthews_corrcoef
print(matthews_corrcoef(Y_test, Y_pred_knn))

0.37501199615094155

In [ ]:
###########################################################################

XGBoost implementation and accuracy calculation

In [ ]:
xgb_model = xgb.XGBClassifier(objective="binary:logistic", random_state=42)
xgb_model.fit(X_train, Y_train)
X_pred_xgb = xgb_model.predict(X_train)
Y_pred_xgb = xgb_model.predict(X_test)
y_accuracy = accuracy_score(X_pred_xgb, Y_train)
x_accuracy = accuracy_score(Y_pred_xgb, Y_test)

In [ ]:
print('ACccuracy on train data for XGBoost is:',y_accuracy )
print('ACccuracy on test data for XGBoost is:',x_accuracy )

ACccuracy on train data for XGBoost is: 1.0
ACccuracy on test data for XGBoost is: 0.9780487804878049

In [ ]:
from sklearn.metrics import matthews_corrcoef
print(matthews_corrcoef(Y_test, Y_pred_xgb))

0.9561895539135487

Calculating Precision,Recall and f1 score

In [ ]:
x_precision = precision_score(Y_test, Y_pred_xgb)
x_recall = recall_score(Y_test, Y_pred_xgb)
x_f1score = f1_score(Y_test, Y_pred_xgb)
print('precision on test data for XGBoost is:',x_precision)
print('recall on test data for XGBoost is:',x_recall)
print('f1 score on test data for XGBoost is:',x_f1score)

precision on test data for XGBoost is: 0.9855072463768116
recall on test data for XGBoost is: 0.9714285714285714
f1 score on test data for XGBoost is: 0.9784172661870504

In [ ]:
#############################################################################

Building a Predictive System

In [ ]:
input_data=(67, 1, 0, 160, 286, 0, 0, 108, 1, 1.5, 1, 3, 2)
#change the input data to a numpy array
input_data_as_numpy_array=np.array(input_data)

#reshape the numpy arrayas we are predicting only for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction [0]== 0):
  print('The person does not have a heart disease')
else:
  print('The person is suffering with the heart disease')

[0]
The person does not have a heart disease

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [ ]:
###########################################################################

In [ ]:
# 67, 1, 0, 160, 286, 0, 0, 108, 1, 1.5, 1, 3, 2

In [ ]:
# 67, 1, 0, 160, 286, 0, 0, 108, 1, 1.5, 1, 3, 2

In [ ]:
# 41,0,1,130,204,0,0,172,0,1.4,2,0,2